<table class="mainForm">
    <tr>
        <td>Reference ID</td>
        <td><input type="text" name="referenceId" value="673114"></td>
    </tr>
    <tr>
        <td>Refund amount</td>
        <td><input type="text" name="refundAmount" value="1" ></td>
    </tr>
    <tr>
        <td>Refund Note</td>
        <td><input type="text" name="refundNote" value="Test" ></td>
    </tr>
</table>