<body>
        <p><a href="/checkout/index">Redirect to Cashfree</a></p></br>
        <p><a href="/merchantHosted/index">Host Cashfree</a></p></br>
        <p><a href="/seamlessBasic/index">Seamless Popup</a></p></br>
        <p><a href="/seamlessPro/index">Seamless Hosting</a></p></br>
        <p><a href="/refunds/index">Refunds</a></p></br>
</body>
</body>