<form id="refundForm">
    <%- include('partials/refundFormBody') %>
</br>
    <table>
        <tr>
        
            <td colspan="2"><input type="submit" value="Submit" id="payBtn" ></td>
        </tr>
    </table>
    <h1> REFUNDS </h1>
    <table style="border: 1px solid black;">
        <tr>
            <td style="width: 200px">Refund ID</td>
            <td style="width: 200px">Reference</td>
            <td style="width: 200px">Refund Amount</td>
            <td style="width: 200px">Status</td>
        </tr>
        
    </table>
</form>
<div id="resultDiv">

</div>
<script src="https://www.cashfree.com/assets/cashfree.sdk.v1.2.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/helper.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript" src="/javascripts/Refunds.js"></script>
